<div id="video-container">
    <div class="video-post">
        <img src="{{photoURL}}" alt="{{title}}">
        <h3>{{title}}</h3>
        <p>By: {{name}}</p>
        <p>Length: {{length}} minutes</p>
    </div>
</div>