<div class="video-post" data-id="{{@index}}">
    <div class="post-img">
        <img src="{{photoURL}}" alt="{{title}}">
    </div>
    <h3>{{title}}</h3>
    <p>By: {{name}}</p>
    <p>Length: {{minutes}}:{{seconds}}</p>
</div>